.card{
    border-radius: 1.25rem !important;
    box-shadow: 1px 1px 5px 0px;
}

.full-width{
    width:100%;
}

small{
    color:grey;
}

.del{
    color: tomato;
    font-size: 2em;
    cursor: pointer;
}
